<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487359182520-nlpd8eg4jth7pfharscqlnt8cbvm0m32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487359182520-nlpd8eg4jth7pfharscqlnt8cbvm0m32</string>
	<key>API_KEY</key>
	<string>AIzaSyCBXBOxSswEEeYSgnHh69oAUtruKZq-TXI</string>
	<key>GCM_SENDER_ID</key>
	<string>487359182520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo2</string>
	<key>PROJECT_ID</key>
	<string>demo2-15abe</string>
	<key>STORAGE_BUCKET</key>
	<string>demo2-15abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487359182520:ios:7f9a59db03266b04b9664d</string>
</dict>
</plist>